.body{
    width: 100vw;
    height: 100vh;
    padding: 50px;
    background-color: black;
}
.heading{
    padding-bottom: 50px;
    text-align: center;
    color:rgb(241, 241, 97);
}
.box100{
    width: 100px;
    margin: 5px;
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(255, 70, 70);    
}
.container{
    display: flex;
    justify-content: space-around;
}