.body{
    width: 100vw;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.heading{
    padding-bottom: 50px;
    color:rgb(241, 241, 97);
}
.box{
    width: 200px;
    height: 200px;
    background-color: rgb(131, 253, 107);    
}
.container{
    text-align: -webkit-center;
}